.son {
  display: flex;
  flex-direction: column;
  height: 150px;
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px;
}
img {
  width: 100px;
  height: 100px;
}
.boton {
  position: fixed !important;
  bottom: 70px;
  right: 60px;
  z-index: 1100;
}
.boton ion-fab {
  position: static !important;
}
.buscador {
  display: flex;
  justify-content: space-between;
}
