<ion-header class="no-border">
  <ion-toolbar color="success" class="ion-padding">
    <!-- Icono de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="text-center">
      Meals
    </ion-title>

    <!-- Botón de lupa a la derecha -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
