<div>
  <ion-card class="i-padding">
    <ion-card-header>
      <ion-icon name="car-outline" class="i-padding"></ion-icon>
      <ion-card-title class="titulo">Alberto Barbacid</ion-card-title>
      <ion-card-subtitle class="subtitulo"
        >Desarrollo de aplicaciones web</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content> Estudiante de las Salesianas </ion-card-content>
    <hr />
    <ion-buttons>
      <ion-button routerLink="/page-izq">Izquierda</ion-button>
      <ion-button routerLink="/page-der">Derecha</ion-button>
    </ion-buttons>
  </ion-card>
</div>
